<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="User">

	<resultMap id="User" type="User">
		<id property="name" column="U_NAME"/>
		<result property="age" column="U_AGE"/>
	</resultMap>
	
	<select id="UserList" resultMap="User"> 
		SELECT * FROM U_USER
	</select>
	
</mapper>